* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #0f0f0f;
    color: #eee;
}

/* TOPO */
.topo {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('img/barbearia.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.topo h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.topo p {
    font-size: 20px;
    margin-bottom: 25px;
    color: #ccc;
}

.btn {
    background: #c59d5f;
    color: #000;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e2b873;
}

/* SEÇÕES */
section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #c59d5f;
}

/* SOBRE */
.sobre p {
    text-align: center;
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #ccc;
}

/* SERVIÇOS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #1c1c1c;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #333;
    font-size: 18px;
}

/* INFO */
.info {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.info h3 {
    color: #c59d5f;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #777;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .topo h1 {
        font-size: 32px;
    }

    .topo p {
        font-size: 16px;
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.topo-conteudo {
    animation: fadeDown 1.2s ease;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #c59d5f;
}

.btn {
    box-shadow: 0 8px 25px rgba(197, 157, 95, 0.4);
}

.btn:hover {
    transform: scale(1.05);
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    animation: reveal 1s ease forwards;
    animation-delay: 0.2s;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
